{% extends "layouts/base.html" %}

{% block title %} Community {% endblock%}
{% load static %}



{% block content %}

<section class="services section">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="section-title align-left">
                  <span class="wow fadeInDown" data-wow-delay=".2s"> </span>
                  <h2 class="wow fadeInUp" data-wow-delay=".4s">Novedades</h2>
                  <p class="wow fadeInUp" data-wow-delay=".6s">Sin suscripciones, sin colas y sin papeleos. Acceso 24/7 a una amplia 
                      red de vehículos que podrás abrir y cerrar desde tu propio smartphone.</p>
              </div>
          </div>
      </div>
      
      <div class="single-head">
          <div class="row">
              {% for post in  posts %}
              <div class="col">  
                  <div class="col-lg-auto col-md-6 col-12">                           
                      <div class="single-service wow fadeInUp" data-wow-delay=".2s">
                          <h3><a href="service-single.html">{{post.titulo}}</a></h3>
                          <div class="icon"> <i class="{{servicio.icono}}"></i></div>
                          <p>{{post.contenido}}</p>

                      </div> 
                  </div>  
              </div>
              {% endfor %}
          </div>
      </div>           
  </div>
</section>

{% endblock %}